<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
    <title>ACP Controle Times</title>

    <!-- 'viewport' is used by bootstrap to respond to device size -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Javascript:  JQuery from a content distribution network (CDN) -->
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>

    <!-- Bootstrap includes javascript and css  (must follow jquery) -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
    </script>

    <!-- moment.js is the JavaScript equivalent of arrow.py -->
    <script
            src="{{ url_for('static', filename="js/moment.min.js") }}"></script>

</head>
<body>
<pre>
    <h2>{{ distance }}km RUSA BREVET</h2>
<table class="table" width="100%">
    <thead>
        <th>mi</th>
        <th>km</th>
        <th>open</th>
        <th>close</th>
    </thead>
    <tbody>
{% for d in data %}
    <tr>
        <td>{{ data[d]['miles'] }} mi</td>
        <td><b>{{ data[d]['km'] }}</b> km</td>
        <td>{{ data[d]['open'] }}</td>
        <td>{{ data[d]['close'] }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
</pre>
</body>
</html>
